In [1]:
# imports
import json
import pandas as pd

# EDA - User Data

In [2]:
# import json data
users = []
for line in open('users.json', 'r'):
    users.append(json.loads(line))
    
# put data into dataFrame
users = pd.DataFrame(users)

In [3]:
# check head of dataFrame
users.head()

,_id,active,createdDate,lastLogin,role,signUpSource,state
0,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
1,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
2,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
3,{'$oid': '5ff1e1eacfcf6c399c274ae6'},True,{'$date': 1609687530554},{'$date': 1609687530597},consumer,Email,WI
4,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI

In [4]:
# summary of dataFrame

users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 495 entries, 0 to 494
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           495 non-null    object
 1   active        495 non-null    bool
 2   createdDate   495 non-null    object
 3   lastLogin     433 non-null    object
 4   role          495 non-null    object
 5   signUpSource  447 non-null    object
 6   state         439 non-null    object
dtypes: bool(1), object(6)
memory usage: 23.8+ KB

### Takeaways

    1. There are 495 user IDs provided. Are all unique or any duplicates?
    2. There is an extra column (signUpSource) that was not provided in the data schema.

## EDA of _id column

In [5]:
# view column names of dataframe
users.columns

Index(['_id', 'active', 'createdDate', 'lastLogin', 'role', 'signUpSource',
       'state'],
      dtype='object')

In [6]:
# Return the rows with duplicate user IDs and put in new dataframe
dupl_users = users.loc[users['_id'].duplicated(),:]

# view dataframe
dupl_users

,_id,active,createdDate,lastLogin,role,signUpSource,state
1,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
2,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
4,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
5,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
8,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
...,...,...,...,...,...,...,...
490,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN
491,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN
492,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN
493,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN
494,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN

In [33]:
# view first 50 users in Duplicate Users dataframe

dupl_users.head(50)

,_id,active,createdDate,lastLogin,role,signUpSource,state
1,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
2,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
4,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
5,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
8,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
10,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
11,{'$oid': '5ff1e1eacfcf6c399c274ae6'},True,{'$date': 1609687530554},{'$date': 1609687530597},consumer,Email,WI
12,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
13,{'$oid': '5ff1e1eacfcf6c399c274ae6'},True,{'$date': 1609687530554},{'$date': 1609687530597},consumer,Email,WI
14,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
15,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
18,{'$oid': '5ff1e1eacfcf6c399c274ae6'},True,{'$date': 1609687530554},{'$date': 1609687530597},consumer,Email,WI
19,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
24,{'$oid': '5ff370c562fde912123a5e0e'},True,{'$date': 1609789637776},{'$date': 1609789850563},consumer,Email,WI
26,{'$oid': '5ff36d0362fde912123a5535'},True,{'$date': 1609788675973},{'$date': 1609788882944},consumer,Email,WI
27,{'$oid': '5ff36be7135e7011bcb856d3'},True,{'$date': 1609788391239},{'$date': 1609788592726},consumer,Email,WI
29,{'$oid': '5ff36d0362fde912123a5535'},True,{'$date': 1609788675973},{'$date': 1609788882944},consumer,Email,WI
31,{'$oid': '5ff36a3862fde912123a4460'},True,{'$date': 1609787960352},{'$date': 1609788185340},consumer,Email,WI
32,{'$oid': '5ff370c562fde912123a5e0e'},True,{'$date': 1609789637776},{'$date': 1609789850563},consumer,Email,WI
33,{'$oid': '5ff36a3862fde912123a4460'},True,{'$date': 1609787960352},{'$date': 1609788185340},consumer,Email,WI
34,{'$oid': '5ff36a3862fde912123a4460'},True,{'$date': 1609787960352},{'$date': 1609788185340},consumer,Email,WI
35,{'$oid': '5ff370c562fde912123a5e0e'},True,{'$date': 1609789637776},{'$date': 1609789850563},consumer,Email,WI
36,{'$oid': '5ff36a3862fde912123a4460'},True,{'$date': 1609787960352},{'$date': 1609788185340},consumer,Email,WI
37,{'$oid': '5ff370c562fde912123a5e0e'},True,{'$date': 1609789637776},{'$date': 1609789850563},consumer,Email,WI
39,{'$oid': '5ff36be7135e7011bcb856d3'},True,{'$date': 1609788391239},{'$date': 1609788592726},consumer,Email,WI
43,{'$oid': '5ff47392c3d63511e2a47881'},True,{'$date': 1609855890233},{'$date': 1609856133550},consumer,Email,WI
44,{'$oid': '5ff4ce33c3d63511e2a484b6'},True,{'$date': 1609879091229},{'$date': 1609879195131},consumer,Email,WI
46,{'$oid': '5ff47392c3d63511e2a47881'},True,{'$date': 1609855890233},{'$date': 1609856133550},consumer,Email,WI
48,{'$oid': '5ff4ce33c3d63511e2a484b6'},True,{'$date': 1609879091229},{'$date': 1609879195131},consumer,Email,WI
49,{'$oid': '5ff4ce3dc3d63511e2a484dc'},True,{'$date': 1609879101887},{'$date': 1609879101938},consumer,Email,WI
50,{'$oid': '5ff4ce33c3d63511e2a484b6'},True,{'$date': 1609879091229},{'$date': 1609879195131},consumer,Email,WI
51,{'$oid': '5ff47392c3d63511e2a47881'},True,{'$date': 1609855890233},{'$date': 1609856133550},consumer,Email,WI
52,{'$oid': '5ff4ce3dc3d63511e2a484dc'},True,{'$date': 1609879101887},{'$date': 1609879101938},consumer,Email,WI
53,{'$oid': '5ff4ce3dc3d63511e2a484dc'},True,{'$date': 1609879101887},{'$date': 1609879101938},consumer,Email,WI
54,{'$oid': '5ff4ce33c3d63511e2a484b6'},True,{'$date': 1609879091229},{'$date': 1609879195131},consumer,Email,WI
56,{'$oid': '5ff4ce33c3d63511e2a484b6'},True,{'$date': 1609879091229},{'$date': 1609879195131},consumer,Email,WI
57,{'$oid': '5ff4ce33c3d63511e2a484b6'},True,{'$date': 1609879091229},{'$date': 1609879195131},consumer,Email,WI
59,{'$oid': '5ff47392c3d63511e2a47881'},True,{'$date': 1609855890233},{'$date': 1609856133550},consumer,Email,WI
61,{'$oid': '5ff5d15aeb7c7d12096d91a2'},True,{'$date': 1609945434680},{'$date': 1609945690009},consumer,Email,WI
62,{'$oid': '5ff5d15aeb7c7d12096d91a2'},True,{'$date': 1609945434680},{'$date': 1609945690009},consumer,Email,WI
63,{'$oid': '5ff5d15aeb7c7d12096d91a2'},True,{'$date': 1609945434680},{'$date': 1609945690009},consumer,Email,WI
64,{'$oid': '5ff5d15aeb7c7d12096d91a2'},True,{'$date': 1609945434680},{'$date': 1609945690009},consumer,Email,WI
65,{'$oid': '5ff5d15aeb7c7d12096d91a2'},True,{'$date': 1609945434680},{'$date': 1609945690009},consumer,Email,WI
67,{'$oid': '5ff5d15aeb7c7d12096d91a2'},True,{'$date': 1609945434680},{'$date': 1609945690009},consumer,Email,WI
68,{'$oid': '5ff5d15aeb7c7d12096d91a2'},True,{'$date': 1609945434680},{'$date': 1609945690009},consumer,Email,WI
69,{'$oid': '5ff5d15aeb7c7d12096d91a2'},True,{'$date': 1609945434680},{'$date': 1609945690009},consumer,Email,WI
70,{'$oid': '5ff5d15aeb7c7d12096d91a2'},True,{'$date': 1609945434680},{'$date': 1609945690009},consumer,Email,WI
71,{'$oid': '5ff5d15aeb7c7d12096d91a2'},True,{'$date': 1609945434680},{'$date': 1609945690009},consumer,Email,WI
72,{'$oid': '5ff5d15aeb7c7d12096d91a2'},True,{'$date': 1609945434680},{'$date': 1609945690009},consumer,Email,WI
73,{'$oid': '5ff5d15aeb7c7d12096d91a2'},True,{'$date': 1609945434680},{'$date': 1609945690009},consumer,Email,WI

In [32]:
# view last 50 users in Duplicate Users dataframe

dupl_users.tail(50)

,_id,active,createdDate,lastLogin,role,signUpSource,state
441,{'$oid': '5fc961c3b8cfca11a077dd33'},True,{'$date': 1607033283936},{'$date': 1614379156799},fetch-staff,Email,NH
442,{'$oid': '5fc961c3b8cfca11a077dd33'},True,{'$date': 1607033283936},{'$date': 1614379156799},fetch-staff,Email,NH
443,{'$oid': '5fc961c3b8cfca11a077dd33'},True,{'$date': 1607033283936},{'$date': 1614379156799},fetch-staff,Email,NH
444,{'$oid': '5fc961c3b8cfca11a077dd33'},True,{'$date': 1607033283936},{'$date': 1614379156799},fetch-staff,Email,NH
445,{'$oid': '5fc961c3b8cfca11a077dd33'},True,{'$date': 1607033283936},{'$date': 1614379156799},fetch-staff,Email,NH
446,{'$oid': '5fc961c3b8cfca11a077dd33'},True,{'$date': 1607033283936},{'$date': 1614379156799},fetch-staff,Email,NH
447,{'$oid': '5fc961c3b8cfca11a077dd33'},True,{'$date': 1607033283936},{'$date': 1614379156799},fetch-staff,Email,NH
448,{'$oid': '5fc961c3b8cfca11a077dd33'},True,{'$date': 1607033283936},{'$date': 1614379156799},fetch-staff,Email,NH
449,{'$oid': '5fc961c3b8cfca11a077dd33'},True,{'$date': 1607033283936},{'$date': 1614379156799},fetch-staff,Email,NH
450,{'$oid': '5fc961c3b8cfca11a077dd33'},True,{'$date': 1607033283936},{'$date': 1614379156799},fetch-staff,Email,NH
451,{'$oid': '5fc961c3b8cfca11a077dd33'},True,{'$date': 1607033283936},{'$date': 1614379156799},fetch-staff,Email,NH
452,{'$oid': '5fc961c3b8cfca11a077dd33'},True,{'$date': 1607033283936},{'$date': 1614379156799},fetch-staff,Email,NH
453,{'$oid': '5fc961c3b8cfca11a077dd33'},True,{'$date': 1607033283936},{'$date': 1614379156799},fetch-staff,Email,NH
454,{'$oid': '5fc961c3b8cfca11a077dd33'},True,{'$date': 1607033283936},{'$date': 1614379156799},fetch-staff,Email,NH
457,{'$oid': '5fa41775898c7a11a6bcef3e'},True,{'$date': 1604589429396},{'$date': 1614873722026},fetch-staff,Email,NaN
458,{'$oid': '5fa41775898c7a11a6bcef3e'},True,{'$date': 1604589429396},{'$date': 1614873722026},fetch-staff,Email,NaN
459,{'$oid': '5fa41775898c7a11a6bcef3e'},True,{'$date': 1604589429396},{'$date': 1614873722026},fetch-staff,Email,NaN
460,{'$oid': '5fa41775898c7a11a6bcef3e'},True,{'$date': 1604589429396},{'$date': 1614873722026},fetch-staff,Email,NaN
461,{'$oid': '5fa41775898c7a11a6bcef3e'},True,{'$date': 1604589429396},{'$date': 1614873722026},fetch-staff,Email,NaN
463,{'$oid': '5fa41775898c7a11a6bcef3e'},True,{'$date': 1604589429396},{'$date': 1614873722026},fetch-staff,Email,NaN
464,{'$oid': '5fa41775898c7a11a6bcef3e'},True,{'$date': 1604589429396},{'$date': 1614873722026},fetch-staff,Email,NaN
465,{'$oid': '5fa41775898c7a11a6bcef3e'},True,{'$date': 1604589429396},{'$date': 1614873722026},fetch-staff,Email,NaN
466,{'$oid': '5fa41775898c7a11a6bcef3e'},True,{'$date': 1604589429396},{'$date': 1614873722026},fetch-staff,Email,NaN
467,{'$oid': '5fa41775898c7a11a6bcef3e'},True,{'$date': 1604589429396},{'$date': 1614873722026},fetch-staff,Email,NaN
468,{'$oid': '5fa41775898c7a11a6bcef3e'},True,{'$date': 1604589429396},{'$date': 1614873722026},fetch-staff,Email,NaN
469,{'$oid': '5fa41775898c7a11a6bcef3e'},True,{'$date': 1604589429396},{'$date': 1614873722026},fetch-staff,Email,NaN
470,{'$oid': '5fa41775898c7a11a6bcef3e'},True,{'$date': 1604589429396},{'$date': 1614873722026},fetch-staff,Email,NaN
471,{'$oid': '5fa41775898c7a11a6bcef3e'},True,{'$date': 1604589429396},{'$date': 1614873722026},fetch-staff,Email,NaN
472,{'$oid': '5fa41775898c7a11a6bcef3e'},True,{'$date': 1604589429396},{'$date': 1614873722026},fetch-staff,Email,NaN
473,{'$oid': '5fa41775898c7a11a6bcef3e'},True,{'$date': 1604589429396},{'$date': 1614873722026},fetch-staff,Email,NaN
474,{'$oid': '5fa41775898c7a11a6bcef3e'},True,{'$date': 1604589429396},{'$date': 1614873722026},fetch-staff,Email,NaN
476,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN
477,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN
478,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN
479,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN
480,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN
481,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN
482,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN
483,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN
484,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN
485,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN
486,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN
487,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN
488,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN
489,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN
490,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN
491,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN
492,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN
493,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN
494,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN

In [8]:
# Looks like there is more than one role. how many unique roles?

dupl_users['role'].nunique()

2

### User Data Takeaways
1. There are duplicate user IDs (_id column) in the users data. 
    
    _id is the primary key and values in this column should be unique. Looks like the duplicate user IDs have the same creation date. Maybe they were all created by accident on the same day by the same user? 
     
     
2. There is an additional role ('fetch-staff') in the role column that wasn't mentioned in User data schema. 
    
    Some of the duplicate user IDs were created by fetch-staff. Maybe test accounts?
    
    
3. There is an additional column ('signUpSource' column) that was not mentioned in the User Data Schema. 
   
    Should this column be added to the schema or removed from the data?